PORT=5004
MONGO_URI=mongodb://localhost:27017/hirehub
JWT_SECRET=your-secret-key
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@example.com
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
